.filters {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  div {
    .filter-btn {
      margin-top: 1em;
      width: 150px;
    }
  }
  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.filter-list-main-div {
  @media (max-width: 345px) {
    margin-left: 1rem !important;
  }
}
